{% extends 'layout.html.twig' %}

{% block topMenu %}
    {% include 'partials/user_top_menu.html.twig' %}
{% endblock %}

{% block content %}
    {% if not job is empty %}
        <h2>{{ job.job }}</h4>
    {% endif %}
    {{ grid(grid) }}
{% endblock %}
